body {
        background-color: rgb(55, 24, 9);
}

.body-layout {
    background-position-x:left;
    background-position-y: top;
    background-image: url(images/site-bg-tools.jpg), linear-gradient(to bottom, rgba(55, 24, 9, 0), rgba(55, 24, 9, 0.75),rgba(8, 5, 6, 1), rgba(8, 5, 6, 1));
    background-color: rgb(55, 24, 9);
    background-repeat: repeat-x;
    background-size: 500px;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
        padding-top: 50px;
}

.container {
    max-width: 1000px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    height: 50px;
    width:auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-navi {
    font-size: large;
    margin-left: 50px;

}

div.login {
    margin: unset;
    margin-top: 3px;
    padding: unset;
    float: left;
    max-height: 50px;
    display: block;
}

div.login .pos {
    margin-left: 5px;

}

.login .form-group {
    height: 20px;
    max-width: 300px;
    padding: unset;
    margin: unset;
}

.login input {
    font-size: small;
    height: 20px;
    text-align: left;
    max-width: 150px;
    vertical-align: central;
    padding: unset;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
}

.login .btn {
    font-size: smaller;
    float: left;
    }
.login .form-control {
    font-size: smaller;
    height: 20px;
    text-align: left;
}

