@model IEnumerable<UI_BricoMarche.Models.InhaltModelle.KategorieModell>

@if (ViewData["Inhalt"] != null && ViewData["Inhalt"].Equals("Produkte"))
{
    foreach (var kategorie in Model)
    {
        <li>
            <a href="@Url.Action("Produkte", "Inhalt", new { kategorieID = kategorie.ID })">@kategorie.Bezeichnung</a>
        </li>
    }
}

@if (ViewData["Inhalt"] != null && ViewData["Inhalt"].Equals("Videos"))
{
    foreach (var kategorie in Model)
    {
        <li>
            <a href="@Url.Action("Videos", "Inhalt", new { kategorieID = kategorie.ID })">@kategorie.Bezeichnung</a>
        </li>
    }
}

