@string controller = ViewBag.Inhalt + "Suche";

@using(Html.BeginForm("ActionName", "Inhalt",FormMethod.Get))
{
    @Html.TextBoxFor(m => m.Query)

    <div>
        <input type="submit" value="Search" />
    </div>
}
