@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top inhalt-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Willkommen "+User.Identity.Name, "Willkommen", "Benutzer", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Editieren", "Benutzer")</li>
                    <li>@Html.ActionLink("Merkliste", "Willkommen", "Merkliste")</li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="navbar navbar-inverse navbar-fixed-top no-nav">
    </div>
}

        <div class="container inhalt">
            <div class=" jumbotron">
                @RenderBody()
            </div>
        </div>
