@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string inhalt = ViewBag.Title;
    string controller = inhalt + "Suche";
}
@if (ViewBag.Title != "Willkommen")
{
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(inhalt, inhalt, "Inhalt", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Action("Kategorien", "Inhalt", new { inhalt = ViewBag.Title })
                    <li>
                         @using (Html.BeginForm(controller, "Inhalt", FormMethod.Get))
                        {
                        <div class="login partial-login">
                            @Html.TextBox("suchbegriff")
                            <input type="submit" value="Suche" class="btn btn-primary" />
                        </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

}
else
{
    <div class="navbar navbar-inverse navbar-static-top header">
    </div>
}
<div class="container">
    <div class=" jumbotron">
        @RenderBody()
    </div>
</div>