@using ((Html.BeginForm("Abmelden", "Benutzer")))
{
    @Html.AntiForgeryToken()
    <div class="partial-navbar">
        <div class="login pos">
            <div class="form-group">
    Willkommen, <a href="@Url.Action("Willkommen", "Benutzer")" class="text-primary">@User.Identity.Name!</a>
                </div>
            <div class="form-group">
                <input type="submit" value="Abmelden" class="btn btn-default" />
            </div>
        </div>


    </div>
}
